<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="log/internal-log.log">

    <targets>
        <target name="console"
                xsi:type="ColoredConsole"
                layout="${longdate} ${level:uppercase=true} ${callsite:className=False:fileName=True:includeSourcePath=False:methodName=True}: ${message} ${exception:format=ToString,StackTrace}"/>

    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile,console"/>
        <logger name="*" minlevel="Info" writeTo="mail"/>
    </rules>
</nlog>

